[build]
target = "thumbv8m.main-none-eabihf"

[env]
DEFMT_LOG = "info"

[alias]
# Pico 1W aliases
full_1w = "run --example full --release --target thumbv6m-none-eabi --no-default-features --features pico1w,wifi"
full_no_wifi_1w = "run --example full --release --target thumbv6m-none-eabi --no-default-features --features pico1w"
ir_1w = "run --example ir --release --target thumbv6m-none-eabi --no-default-features --features pico1w"
wireless_1w = "run --example wireless --release --target thumbv6m-none-eabi --no-default-features --features pico1w,wifi"
lcd_clock_1w = "run --example lcd_clock --release --target thumbv6m-none-eabi --no-default-features --features pico1w,wifi"
log_time_1w = "run --example log_time --release --target thumbv6m-none-eabi --no-default-features --features pico1w,wifi"
led_strip_1w = "run --example led_strip --release --target thumbv6m-none-eabi --no-default-features --features pico1w"

# Pico 2W aliases (RP235x with WiFi)
full_2w = "run --example full --release --target thumbv8m.main-none-eabihf --no-default-features --features pico2,wifi"
log_time_2w = "run --example log_time --release --target thumbv8m.main-none-eabihf --no-default-features --features pico2,wifi"
lcd_clock_2w = "run --example lcd_clock --release --target thumbv8m.main-none-eabihf --no-default-features --features pico2,wifi"

# Pico 2 aliases (RP235x without WiFi)
full_2 = "run --example full --release --target thumbv8m.main-none-eabihf --no-default-features --features pico2"
ir_2 = "run --example ir --release --target thumbv8m.main-none-eabihf --no-default-features --features pico2"
info_world_2 = "run --example info_world --release --target thumbv8m.main-none-eabihf --no-default-features --features pico2"
led_strip_2 = "run --example led_strip --release --target thumbv8m.main-none-eabihf --no-default-features --features pico2"
led_strip2_2 = "run --example led_strip2 --release --target thumbv8m.main-none-eabihf --no-default-features --features pico2"
led_24x4_2 = "run --example led_24x4 --release --target thumbv8m.main-none-eabihf --no-default-features --features pico2"
led_24x4_clock_2 = "run --example led_24x4_clock --release --target thumbv8m.main-none-eabihf --no-default-features --features pico2"
led_strip_snake_2 = "run --example led_strip_snake --release --target thumbv8m.main-none-eabihf --no-default-features --features pico2"
blinky_2 = "run --example blinky --release --target thumbv8m.main-none-eabihf --no-default-features --features pico2"


[target.thumbv6m-none-eabi]
runner = "probe-rs run --chip=RP2040"
rustflags = [
    "-C",
    "link-arg=-Tlink.x",
    "-C",
    "link-arg=-Tdefmt.x",
]

[target.thumbv8m.main-none-eabihf]
runner = "probe-rs run --chip=RP235x --probe=2e8a:000c:E6633861A38D5A38"
rustflags = [
    "-C",
    "link-arg=-Tlink.x",
    "-C",
    "link-arg=-Tlink-rp.x",
    "-C",
    "link-arg=-Tdefmt.x",
]
