[build]
target = "thumbv8m.main-none-eabihf"

[env]
DEFMT_LOG = "info"

[alias]
# Pico 1 WiFi aliases
full_w = "run --example full --release --target thumbv6m-none-eabi --features pico1,arm,wifi"
wireless_w = "run --example wireless --release --target thumbv6m-none-eabi --features pico1,arm,wifi"
lcd_clock_w = "run --example lcd_clock --release --target thumbv6m-none-eabi --features pico1,arm,wifi"
clock_led4_wifi_w = "run --example clock_led4_wifi --release --target thumbv6m-none-eabi --features pico1,arm,wifi"
log_time_w = "run --example log_time --release --target thumbv6m-none-eabi --features pico1,arm,wifi"
wifi_web_w = "run --example wifi_web --release --target thumbv6m-none-eabi --features pico1,arm,wifi"

# Pico 2 ARM aliases
flash_2 = "run --example flash --release --target thumbv8m.main-none-eabihf --features pico2,arm --no-default-features"
full_2 = "run --example full --release --target thumbv8m.main-none-eabihf --features pico2,arm --no-default-features"
ir_2 = "run --example ir --release --target thumbv8m.main-none-eabihf --features pico2,arm --no-default-features"
ir_kepler_2 = "run --example ir_kepler --release --target thumbv8m.main-none-eabihf --features pico2,arm --no-default-features"
wireless_2 = "run --example wireless --release --target thumbv8m.main-none-eabihf --features pico2,arm --no-default-features"
lcd_clock_2 = "run --example lcd_clock --release --target thumbv8m.main-none-eabihf --features pico2,arm --no-default-features"
led_strip_2 = "run --example led_strip --release --target thumbv8m.main-none-eabihf --features pico2,arm --no-default-features"
led_strip2_2 = "run --example led_strip2 --release --target thumbv8m.main-none-eabihf --features pico2,arm --no-default-features"
led24x4_2 = "run --example led24x4 --release --target thumbv8m.main-none-eabihf --features pico2,arm --no-default-features"
led24x4_clock_2 = "run --example led24x4_clock --release --target thumbv8m.main-none-eabihf --features pico2,arm --no-default-features"
led_strip_snake_2 = "run --example led_strip_snake --release --target thumbv8m.main-none-eabihf --features pico2,arm --no-default-features"
blinky_2 = "run --example blinky --release --target thumbv8m.main-none-eabihf --features pico2,arm --no-default-features"
servos_2 = "run --example servos --release --target thumbv8m.main-none-eabihf --features pico2,arm --no-default-features"
log_time_2w = "run --example log_time --release --target thumbv8m.main-none-eabihf --features pico2,arm,wifi --no-default-features"
wifi_web_2w = "run --example wifi_web --release --target thumbv8m.main-none-eabihf --features pico2,arm,wifi --no-default-features"

# Pico 2 RISC-V alias (experimental - not fully working yet)
blinky_2r = "run --example blinky --release --target riscv32imac-unknown-none-elf --features pico2,riscv --no-default-features"

# Default aliases (Pico 1 ARM, no WiFi)
full = "run --example full --release --target thumbv6m-none-eabi --features pico1,arm"
ir = "run --example ir --release --target thumbv6m-none-eabi --features pico1,arm"
ir_kepler = "run --example ir_kepler --release --target thumbv6m-none-eabi --features pico1,arm"
ir_remote = "run --example ir_remote --release --target thumbv6m-none-eabi --features pico1,arm"
led_strip = "run --example led_strip --release --target thumbv6m-none-eabi --features pico1,arm"
flash = "run --example flash --release --target thumbv6m-none-eabi --features pico1,arm"
blinky = "run --example blinky --release --target thumbv6m-none-eabi --features pico1,arm"
servos = "run --example servos --release --target thumbv6m-none-eabi --features pico1,arm"

# Documentation alias
# Note: Using pico2,arm,wifi instead of pico1,arm,wifi because embassy-rp from git main
# currently has a regression with Cortex-M0+ (tries to access MPU.rasr field that doesn't exist).
docdoc = "doc --no-deps --features pico2,arm,wifi --no-default-features --open"

[target.thumbv6m-none-eabi]
runner = "probe-rs run --chip=RP2040"
rustflags = [
    "-C",
    "link-arg=-Tlink.x",
    "-C",
    "link-arg=-Tdefmt.x",
]

[target.thumbv8m.main-none-eabihf]
runner = "probe-rs run --chip=RP235x"
rustflags = [
    "-C",
    "link-arg=-Tlink.x",
    "-C",
    "link-arg=-Tlink-rp.x",
    "-C",
    "link-arg=-Tdefmt.x",
]

[target.riscv32imac-unknown-none-elf]
runner = "probe-rs run --chip=RP235x"
rustflags = [
    "-C",
    "link-arg=-Tlink.x",
    "-C",
    "link-arg=-Tdefmt.x",
]
