[build]
target = "thumbv8m.main-none-eabihf"

[env]
DEFMT_LOG = "info"

[alias]
# Pico 1W aliases
full_1w = "run --example full --release --target thumbv6m-none-eabi --features pico1,wifi"
full_no_wifi_1w = "run --example full --release --target thumbv6m-none-eabi --features pico1"
ir_1w = "run --example ir --release --target thumbv6m-none-eabi --features pico1"
ir_kepler_1w = "run --example ir_kepler --release --target thumbv6m-none-eabi --features pico1"
ir_remote_1w = "run --example ir_remote --release --target thumbv6m-none-eabi --features pico1"
wireless_1w = "run --example wireless --release --target thumbv6m-none-eabi --features pico1,wifi"
lcd_clock_1w = "run --example lcd_clock --release --target thumbv6m-none-eabi --features pico1,wifi"
clock_led4_wifi_1w = "run --example clock_led4_wifi --release --target thumbv6m-none-eabi --features pico1,wifi"
led_strip_1w = "run --example led_strip --release --target thumbv6m-none-eabi --features pico1"
log_time_1w = "run --example log_time --release --target thumbv6m-none-eabi --features pico1,wifi"
wifi_web_1w = "run --example wifi_web --release --target thumbv6m-none-eabi --features pico1,wifi"
flash_1w = "run --example flash --release --target thumbv6m-none-eabi --features pico1"

# Pico 2 aliases
flash_2 = "run --example flash --release --target thumbv8m.main-none-eabihf --features pico2"
full_2 = "run --example full --release --target thumbv8m.main-none-eabihf --features pico2"
ir_2 = "run --example ir --release --target thumbv8m.main-none-eabihf --features pico2"
ir_kepler_2 = "run --example ir_kepler --release --target thumbv8m.main-none-eabihf --features pico2"
wireless_2 = "run --example wireless --release --target thumbv8m.main-none-eabihf --features pico2"
lcd_clock_2 = "run --example lcd_clock --release --target thumbv8m.main-none-eabihf --features pico2"
led_strip_2 = "run --example led_strip --release --target thumbv8m.main-none-eabihf --features pico2"
led_strip2_2 = "run --example led_strip2 --release --target thumbv8m.main-none-eabihf --features pico2"
led24x4_2 = "run --example led24x4 --release --target thumbv8m.main-none-eabihf --features pico2"
led24x4_clock_2 = "run --example led24x4_clock --release --target thumbv8m.main-none-eabihf --features pico2"
led_strip_snake_2 = "run --example led_strip_snake --release --target thumbv8m.main-none-eabihf --features pico2"
blinky_2 = "run --example blinky --release --target thumbv8m.main-none-eabihf --features pico2"
servos_2 = "run --example servos --release --target thumbv8m.main-none-eabihf --features pico2"
log_time_2w = "run --example log_time --release --target thumbv8m.main-none-eabihf --features pico2,wifi"
wifi_web_2w = "run --example wifi_web --release --target thumbv8m.main-none-eabihf --features pico2,wifi"

# Default aliases (Pico 2)
full = "run --example full --release --features pico2"
ir = "run --example ir --release --features pico2"
ir_kepler = "run --example ir_kepler --release --features pico2"
wireless = "run --example wireless --release --features pico2"
lcd_clock = "run --example lcd_clock --release --features pico2"
led_strip = "run --example led_strip --release --features pico2"
led_strip2 = "run --example led_strip2 --release --features pico2"
led24x4 = "run --example led24x4 --release --features pico2"
led24x4_clock = "run --example led24x4_clock --release --features pico2"
blinky = "run --example blinky --release --features pico2"
servos = "run --example servos --release --features pico2"
flash = "run --example flash --release --features pico2"

# Documentation alias
# Documentation alias
docdoc = "doc --no-deps --features pico2,wifi --open"

[target.thumbv6m-none-eabi]
runner = "probe-rs run --chip=RP2040"
rustflags = [
    "-C",
    "link-arg=-Tlink.x",
    "-C",
    "link-arg=-Tdefmt.x",
]

[target.thumbv8m.main-none-eabihf]
runner = "probe-rs run --chip=RP235x"
rustflags = [
    "-C",
    "link-arg=-Tlink.x",
    "-C",
    "link-arg=-Tlink-rp.x",
    "-C",
    "link-arg=-Tdefmt.x",
]
